{% extends "layout.html" %}
{% block styles %}
    {{ super() }}
{%- endblock %}
{% block title %}Password recovery{% endblock %}
{% block body %}
    {% block nav %}
        {{ super() }}
    {%- endblock %}
    {% block content %}
        <div class='container'>
            {% if session['log'] %}
                <p>You're logged in already!</p>
            {% else %}
                <h2>Password recovery</h2>
                <form action="/_recovery" method="POST">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="email" placeholder="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Email" class="btn btn-default form-control" id="forgot_btn">
                    </div>
                </form>
            {% endif %}
        </div>
    {%- endblock %}
    {%- block footer %}
        {{ super() }}
    {%- endblock %}
    {% block scripts %}
        {{ super() }}
    {%- endblock %}
{%- endblock %}